
#container 
  display inline-block
  margin-left: 40px
  margin-right: 40px
  background-color gray

.elm
  position absolute;
  padding 0px;
  margin 0px;
  border-radius 5px
  width 120
  height 160
  background-color none
  text-align center
  .img-background
    padding 4px
    border-radius 4px
    border 1px solid #eee
    background-color white
  img
    max-width 110
    max-height 110
  .node-title
    font-face sans-serif
    padding 5px
    font-size 10pt

.my-system
  border 1px solid blue
  width 800px
  height 800px 
.label
  background-color white
  border-radius 8px
  padding 0.1em
  opacity 0.95
  border 1px solid #eee